---
layout: page
title: About
author: Scott
date: 2020-11-19T15:53:17+00:00
---

{% include imageframe.html 
figure_class="float-left mb-3 mr-3 mt-3"
src="/assets/img/optionalrule_lazydm.jpg"
alt="Man in a black tshirt that says Lazy DM."
caption="That's my face!"
%}

**Optional Rule Games** is a small self publisher dedicated to building flexible content that enables actual play in a fun and exciting way for Players and Game Masters alike.

I post game content for use with various Tabletop RPG systems, primarily 5th Edition Dungeons & Dragons. I hope you&#8217;ll find some of it interesting or useful and get out there and run games of your own. I&#8217;ve been playing Tabletop RPGs for almost 40 years and have no intention of stopping now. Currently I&#8217;m running a lot of 5th Edition D&D, but I enjoy and have created content for a number of systems in the past. Other TTRPGs I greatly enjoy are Burning Wheel, Traveller, Stars Without Number, Blades in the Dark, Vampire the Masquerade, Fate, Dungeon World, Harn, Cyberpunk, Call of Cthulhu, Shadowrun, and many more. 

Always remember, _the only thing that isn&#8217;t optional &#8230; is fun._

Subscribe to the feed for regular content updates and please share anything you find useful. Send me feedback via twitter other other platforms as well.

Follow me on social media and and please feel free to reach out and comment, I love to foster a discussion with positively focused gamers.

{% include socialmedialinks.html %}

## Twitch {#h-twitch}

I stream regularly on Twitch, my regular stream on Twitch is at Saturday&#8217;s at Noon EST and focuses on RPG discussion and Session preparation. I sometimes do ad hoc streams of various video games during the week but even then tend to talk RPGs. Drop by and say hello.<figure class="wp-block-embedpress-twitch-block alignleft ose-twitch-presentation"></figure> 

<div class="wp-block-columns">
  <div class="wp-block-column">
    <h2 id="h-twitter">
      Twitter
    </h2><figure class="wp-block-embed is-type-rich is-provider-twitter wp-block-embed-twitter">
    
    <div class="wp-block-embed__wrapper">
      <a class="twitter-timeline" data-width="960" data-height="1000" data-dnt="true" href="https://twitter.com/optionalrule?ref_src=twsrc%5Etfw">Tweets by optionalrule</a>
    </div></figure>
  </div>
  
  <div class="wp-block-column">
    <h2 id="h-instagram">
      Instagram
    </h2>
    
    <div class="wp-block-jetpack-instagram-gallery">
      <a href="https://www.instagram.com/optionalrule/" rel="noopener noreferrer" target="_blank">https://www.instagram.com/optionalrule/</a>
    </div>
  </div>
</div>

## YouTube {#h-youtube}

I also stream simultaneously to the <a href="https://www.youtube.com/channel/UCi7AoQ6KbaZQqhdO7heKPqw" target="_blank" rel="noreferrer noopener">Optional Rule YouTube Channel</a>, and it serves as the primary archive for past streams.