<figure class="figure {{ include.figure_class }}">
    <img 
        class="img-fluid figure-img {{include.img_class}}" 
        src="{{ include.src }}" 
        alt="{{ include.alt }}" 
        {% if include.height %}
            height="{{ include.height }}"
        {% endif %}
        {% if include.width %}
            height="{{ include.width }}"
        {% endif %}
        />
    {% if include.caption %}
        <figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
    {% endif %}
</figure>