<article class="my-2 py-3 border-bottom shadow-sm" data-aos="zoom-in-up">
    <header class="post-header text-center">

        <div class="post-categories text-center mb-1 fs-6 fw-bold">
            {% for category in post.categories %}
                <a href="{{site.baseurl}}category/{{ category | slugize | downcase }}" rel="category tag">{{ category }}</a>
                {% unless forloop.last %} &middot; {% endunless %}
            {% endfor %}
        </div>

        <h2 class="post-title mb-0"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-meta clear-fix mt-1 mb-2">
            <span class="post-date">
                <i class="far fa-calendar-alt"></i> 
                {% assign d = post.date | date: "%-d" %}
                {{ post.date | date: "%B" }}
                {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
                {{ post.date | date: "%Y" }}
            </span>,  
            <span class="reading-time" title="Estimated read time">
                <i class="far fa-clock"></i> 
                {% assign words = post.content | strip_html | number_of_words %}
                {{ words | divided_by: 180 | plus: 1 }} min read.
            </span>
        </div>
    </header>
    <div class="post-excerpt">{{ post.excerpt | strip_html }}</div>
    <div class="justify-content-center text-center mt-3"><a href="{{ post.url }}" type="button" class="btn btn-outline-primary">Read More</a></div>
</article>