{% assign social = site.social_links %}
<ul class="social-media-list">
    {%- if social.facebook -%}<li><a rel="me icoTwitter"
            href="https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}"
            title="{{ social.facebook | escape }}"><i class="fab fa-facebook"></i></a></li>{%- endif -%}
    {%- if social.twitter -%}<li><a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
            title="{{ social.twitter | escape }}"><i class="fab fa-twitter"></i></a></li>{%- endif -%}

</ul>