/* Declairations */ 
$very-dark-gray: #464646;
$noble-gray: #a1a1a1;
$night-rider: #333333;

$body-color: $very-dark-gray;
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: "Playfair Display" !default;

/* links */ 
$link-decoration: none !default;

/* colors */
$primary: #ca9b52;
$success: #566E3D;
$info: #C0D6DF;
$dark: #1D1C22;
$danger: #440D13;

$fa-font-path: "../webfonts"