
.parallax-window {
    min-height: 500px;
    background: transparent;
}

.header-logo {
    padding-top: 120px;
}

a.site-title, .post-title a {
        color: $night-rider !important;
}

.post-content > p {
    text-align: justify;
}
.post-meta {
    color: $noble-gray;
    font-style: italic;
}

.site-title {
    font-family: "Playfair Display";
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -1px;
    font-weight: 700;
}

.post-content > p:first-of-type:first-letter {
    float: left;
    margin: 0px 12px 0 0;
    font-family: 'Playfair Display';
    font-size: 80px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #030303;
}

.post-categories a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.widget-title {
    position: relative;
    z-index: 0;
    text-align: center;
    margin-bottom: 12px;
    clear: both;
    overflow: hidden;
    font-family: "Playfair Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 28.8px;
    text-transform: uppercase;
}
  
  /* Video Embeds */
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.data-table tbody tr td,
.data-table thead tr th {
    text-align: center;
}

thead tr th:first-child,
tbody tr td:first-child {
  text-align: left;
}