<div class="stat-block wide">
  <hr class="orange-border" />
  <div class="section-left">
    <!-- creature heading -->
    <div class="creature-heading">
      <h1>{{monster.name}}</h1>
      <h2>{{monster.type}}</h2>
    </div>
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <div class="top-stats">
      <div class="property-line first">
        <h4>Armor Class</h4>
        <p>{{ monster.ac }}</p>
      </div>
      <!-- property line -->
      <div class="property-line">
        <h4>Hit Points</h4>
        <p>{{ monster.hp }}</p>
      </div>
      <!-- property line -->
      <div class="property-line last">
		  {% for mv in monster.movement %}
			<h4>{{ mv[0] | capitalize }}</h4>
			<p>{{ mv[1] }}</p>
		  {% endfor %}
      </div>
      <!-- property line -->
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div class="abilities">
        {% for ability in monster.abilities %}
        <div class="ability-{{ability[0]}}">
          <h4>{{ ability[0] | slice: 0, 3 | upcase }}</h4>
          <p>
            {{ability[1]}} ({% if ability[1] > 11 %}+{% endif %}{{ ability[1] |
            minus: 10 | divided_by: 2 }})
          </p>
        </div>
        {% endfor %}
      </div>
      <!-- abilities -->

      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div class="property-line first">
        <h4>Damage Immunities</h4>
        <p>poison, psychic</p>
      </div>
      <!-- property line -->
      <div class="property-line">
        <h4>Condition Immunities</h4>
        <p>
          blinded, charmed, deafened, exhaustion, frightened, petrified,
          poisoned
        </p>
      </div>
      <!-- property line -->
      <div class="property-line">
        <h4>Senses</h4>
        <p>blindsight 60ft. (blind beyond this radius), passive Perception 6</p>
      </div>
      <!-- property line -->
      <div class="property-line">
        <h4>Languages</h4>
        <p>&mdash;</p>
      </div>
      <!-- property line -->
      <div class="property-line last">
        <h4>Challenge</h4>
        <p>1 (200 XP)</p>
      </div>
      <!-- property line -->
    </div>
    <!-- top stats -->
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <div class="property-block">
      <h4>Antimagic Suceptibility.</h4>
      <p>
        The armor is incapacitated while in the area of an
        <i>antimagic field</i>. If targeted by <i>dispel magic</i>, the armor
        must succeed on a Constitution saving throw against the caster’s spell
        save DC or fall unconscious for 1 minute.
      </p>
    </div>
    <!-- property block -->
    <div class="property-block">
      <h4>False Appearance.</h4>
      <p>
        While the armor remains motionless, it is indistinguishable from a
        normal suit of armor.
      </p>
    </div>
    <!-- property block -->
  </div>
  <!-- section left -->
  <div class="section-right">
    <div class="actions">
      <h3>Actions</h3>
      <div class="property-block">
        <h4>Multiattack.</h4>
        <p>The armor makes two melee attacks.</p>
      </div>
      <!-- property block -->
      <div class="property-block">
        <h4>Slam.</h4>
        <p>
          <i>Melee Weapon Attack:</i> +4 to hit, reach 5 ft., one target.
          <i>Hit:</i> 5 (1d6 + 2) bludgeoning damage.
        </p>
      </div>
      <!-- property block -->
    </div>
    <!-- actions -->
    <div class="actions">
      <h3>Legendary Actions</h3>
      <p>
        <em><strong>Tackler.</strong></em> The rage husk has advantage on any
        shove or grapple action if it has moved 10 feet or more in a straight
        line toward the target that turn.&nbsp; This applies only if the
        creature being grappled is the same size or smaller than the rage husk.
      </p>
      <div class="property-block">
        <strong>Tackler.</strong>
      </div>
      <!-- property block -->
      <div class="property-block">
        <h4>Slam.</h4>
        <p>
          <i>Melee Weapon Attack:</i> +4 to hit, reach 5 ft., one target.
          <i>Hit:</i> 5 (1d6 + 2) bludgeoning damage.
        </p>
      </div>
      <!-- property block -->
    </div>
    <!-- actions -->
  </div>
  <!-- section right -->
  <hr class="orange-border bottom" />
</div>
<!-- stat block -->
{{ monster }}
