---
---
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Atom Feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for petefreitag.com" href="/feed.xml" />


    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/pygments/github.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/aos.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Myriad+Pro&display=swap" rel="stylesheet">


    <!-- favicon stuff-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Page Metadata -->
    <title>{{ page.title }}</title>

    <!-- SEO Plugin Stuff -->
    {% seo %}

    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

    <!-- Analytics -->
    {% include google_analytics.html %}
</head>
<body>

<div class="parallax-window overflow-hidden d-print-none" data-parallax="scroll" data-image-src="/assets/img/dariusz-sankowski-3OiYMgDKJ6k-unsplash.jpg" 
alt="A paper notebook laying open on top of a woodcut map of the world with magnifying glass and pencil nearby.  Fun is not optional is written on the open page.">
    <div class="header-logo text-center d-print-none">
        <h1>
            <a href="{{ site.baseurl }}" class="site-title">Optional Rule</a>
        </h1>
        <p class="site-description"></p>
    </div>
</div>
{% include navbar2.html %}

<div class="container clearfix">{{ content }}</div>

<footer class="footer mt-5 py-3 bg-dark d-print-none">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Website by <a href="https://www.tech-tavern.com" target="_blank" rel="noopener">Tech Tavern</a>.</li>
                    <li class="mb-2">Header Photo by <a href="https://unsplash.com/@dariuszsankowski?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener">Dariusz Sankowsk</a></li>
                </ul>
            </div>
            <div class="col small text-muted">
                <span>Copyright &copy; 2020-2021 Optional Rule Games.</span>
            </div>

        </div>


    </div>
</footer>
<!-- Footer JavaScript -->
{% include footer_scripts.html %}
</body>
</html>