---
layout: default
title: Optional Rule
pagination:
  enabled: true
---
<div class="row">
  <div class="col col">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    {% include post_preview.html %}
    {% endfor %}

    <!-- Pagination links -->

    {% if paginator.total_pages > 1 %}

    {% include page_controls.html %}

    {% endif %}
  </div>

  <!-- sidebar -->
  <div class="col-lg-3">

    <div class="list-group list-group-flush my-2">
      <h2 class="widget-title list-group-item">Search</h2>
      <div class="input-group list-group-item">
        <input type="text" class="form-control" placeholder="Search site..." aria-label="Search site" aria-describedby="search">
        <button class="btn btn-dark" type="button" id="search"><i class="fas fa-search"></i></button>
      </div>
    </div>


    <div class="list-group list-group-flush my-2">
      <h2 class="widget-title list-group-item">Socials</h2>
      {% for item in site.data.socials %}
      <a href="{{ item.link }}" target="_blank" class="list-group-item list-group-item-action">
        <i class="fab fa-{{ item.name }}"></i>
        {{ item.title }}
      </a>
      {% endfor %}
    </div>

    <div class="list-group list-group-flush my-2">
      <h2 class="widget-title list-group-item">Gaming Blogs</h2>
      {% for item in site.data.blogroll %}
      <a href="{{ item.link }}" target="_blank" class="list-group-item list-group-item-action">{{ item.name }}</a>
      {% endfor %}
    </div>

  </div>
</div>