---
layout: default
title: Optional Rule
alert: Site is currently in beta and being tested for migration.
pagination:
  enabled: true
---

<div class="container">
  <div class="alert alert-secondary text-center">
    This site is currently in beta during migration.  Please tag or DM me on Twitter if you find any problems.
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    {% include post_preview.html %}
    {% endfor %}

    <!-- Pagination links -->

    {% if paginator.total_pages > 1 %}

    {% include page_controls.html %}

    {% endif %}
  </div>

  <!-- sidebar -->
  <div class="col-lg-3">

    <div class="list-group list-group-flush my-2">
      <h2 class="widget-title list-group-item">Site Search</h2>
      {% include googlesearch.html %}
    </div>

    <div class="list-group list-group-flush my-2">
      <h2 class="widget-title list-group-item">Categories</h2>
      {% for item in site.data.categories_nav %}
      <a href="{{ item.link }}" class="list-group-item list-group-item-action {% if page.url contains item.link %} active{% endif %}">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>

    <div class="list-group list-group-flush my-2">
      <h2 class="widget-title list-group-item">Socials</h2>
      {% for item in site.data.socials %}
      <a href="{{ item.link }}" target="_blank" class="list-group-item list-group-item-action" rel="noopener">
        <i class="fab fa-{{ item.name }}"></i>
        {{ item.title }}
      </a>
      {% endfor %}
    </div>

    <div class="list-group list-group-flush my-2">
      <h2 class="widget-title list-group-item">Gaming Blogs</h2>
      {% for item in site.data.blogroll %}
      <a href="{{ item.link }}" target="_blank" class="list-group-item list-group-item-action" rel="noopener">{{ item.name }}</a>
      {% endfor %}
    </div>

  </div>
</div>